<div id="app">
  <grid-layout
    :layout="layout"
    :col-num="12"
    :row-height="110"
    :is-draggable="true"
    :is-resizable="true"
    :vertical-compact="false"
    :margin="[10, 10]"
    :use-css-transforms="true"
  >
    <grid-item
      v-for="item in layout"
      :x="item.x"
      :y="item.y"
      :w="item.w"
      :h="item.h"
      :i="item.i"
      v-bind:class="{'editing': editing, 'not-editing': !editing}">
      <div>MON COMPOSANT</div>
    </grid-item>

    <div style="position: absolute; bottom: 0; right: 0; color: red; padding: 15px;">
      <button @click="onEdit()">EDIT</button>
      <button @click="onSave()" v-if="editing">SAVE</button>
    </div>
  </grid-layout>
</div>
