//----------------------------------------
//  Theme - Default
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

//  Colors
//----------------------------------------

@import '../abstract/color';

//  Floating Action button
//----------------------------------------

$main-color: $primary-color;
$bright-text: $primary-color-text;

//  Core
//----------------------------------------

body {
  background-color: #F0F0F0;
}

.vue-grid-item {
  overflow: hidden;
  background-color: $primary-color;

  * {
    color: $primary-color-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }

  & .has-error {
    background-color: $accent-color;
  }
}

.sonar-plugin.resource-reporter-component .val,
.clock-plugin {
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
}

//  Clock
//----------------------------------------

.clock-plugin {

  & .clock-day {
    color: $primary-text-color;
  }

}

//  Jenkins
//----------------------------------------

.jenkins-plugin .blue { background-color: $primary-color !important; }
.jenkins-plugin .blue.blink { animation-name : primary-blink !important; }

@-webkit-keyframes primary-blink {
  0%   { background-color: $primary-color; }
  33%  { background-color: darken($primary-color, 15%); }
  66%  { background-color: darken($primary-color, 15%); }
  100% { background-color: $primary-color; }
}
