//----------------------------------------
//  Theme - Default
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.vue-grid-item {
  background-color: $primary-color;

  * {
    color: $primary-color-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }
}

//  Sonar
//----------------------------------------

.sonar-plugin {

  &.critical-reporter-component span {
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
    font-size: 45px;
  }

}
