//----------------------------------------
//  Theme - Default
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

//  Colors
//----------------------------------------

@import '../abstract/color';

//  Floating Action button
//----------------------------------------

$main-color: $primary-color;
$bright-text: $primary-color-text;

//  Core
//----------------------------------------

body {
  background-color: #F0F0F0;
}

.vue-grid-item {
  overflow: hidden;
  background-color: $primary-color;

  * {
    color: $primary-color-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.sonar-plugin .critical-reporter-component span,
.clock-plugin {
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
}

//  Clock
//----------------------------------------

.clock-plugin {

  & .clock-day {
    color: $primary-text-color;
  }

}
